<!DOCTYPE HTML>
<html>

<head>
<meta charset="utf-8">

{% block meta %}{% endblock %}

{% block viewport %}
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
{% endblock %}

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>{% block title %}{% endblock %}</title>

{% block main_css %}
<link rel="stylesheet" href="{{ CSS_DIR }}/main.css" />
{% endblock %}
{% block add_css %}{% endblock %}

<!--[if lt IE 9]>
<script src="{{ JS_LIB_DIR }}/html5shiv/src/html5shiv.js"></script>
<![endif]-->
{% block header_js %}{% endblock %}
</head>

<body>
<div id="base">
{% block base %}
{% endblock %}
</div>
{% block footer_js %}{% endblock %}
</body>

</html>
